{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{{ request.GET.next }}"><i class="im im-angle-left"></i></a>
                <br>

                <h3>{{ title }}</h3>

                <form class="form" action="" method="POST">

                    {% csrf_token %}

                    <p>Are you sure you want to delete "{{ object }}"?</p>

                    <button class="btn btn--sub btn--lg  my-md"><a href="{{ request.GET.next }}">Back</a></button>

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
                </form>
            </div>
        </div>
    </main>

{% endblock %}